<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <a href="{{ url_for('home.index') }}">主页</a>
    <a href="{{ url_for('home.post_article') }}">添加文章</a>
    {% if current_user.is_authenticated %}
    当前登陆用户： {{ current_user.username }}
    <a href="{{ url_for('background.logout') }}">退出</a>
    {% else %}
    <a href="{{ url_for('background.login') }}">登陆</a>
    {% endif %}
    <a href="{{ url_for('test.index') }}">测试</a>
    {% with messages = get_flashed_messages() %}
    {% if  messages %}
    <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html